@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=fallback');

@import 'tailwindcss/base';
@import 'tailwindcss/components';


@import 'tailwindcss/utilities';


/* Reusable Custom CSS Classes */
.sub-heading{
    font-size: 1.5rem;
    font-weight: 600;
    color: #3377EE;
}